@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary btn-lg" href="/Mnist/Index" role="button">Go to MNIST Page</a>
    </p>
</div>