html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-list-view {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    border: 1px solid #ddd; /* Optional: Adds a border around the container */
}

    .image-list-view img {
        height: 140px; /* Set image height */
        margin-right: 10px; /* Optional: Adds spacing between images */
        flex-shrink: 0; /* Prevent the images from shrinking */
    }

.pixel-grid {
    display: grid;
    grid-template-columns: repeat(28, 20px); /* Adjust size as needed */
    grid-template-rows: repeat(28, 20px);
    gap: 1px; /* Gap between cells */
}

.pixel-cell {
    width: 20px;
    height: 20px;
    background-color: white; /* Default color */
    border: 1px solid #ddd;
    cursor: pointer;
}

textarea {
    width: 587px; /* Adjust the width of the textarea (4-5 times wider) */
    resize: none;
}
