@{
    ViewData["Title"] = "MNIST Training and Prediction";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Load the traing data</h3>
    <label for="trainDataPath">Training Data Path: 1.</label>
    <br />
    <input type="file" id="trainDataPath" placeholder="Enter path to training data" />
    <br />
    <button onclick="LoadTrainData()">2. Load Training Data</button>
</div>

<div id="trainingDataListView" class="image-list-view">
    <!-- Images will be inserted here dynamically -->
</div>

<div>
    <h3>Train the Model</h3>
    <button onclick="trainModel()">3. Train Model</button>
    <p id="trainResult"></p>
</div>
<hr />
<div>
    <h3>Make a Prediction (4)</h3>
    <label for="pixelData">Pixel Data (Comma-separated 784 values):</label>
    <div id="pixelGrid" class="pixel-grid"></div>
    <br />
    <button onclick="extractPixelData()">Extract Pixel Data</button>
    <button onclick="clearGrid()">Clear Pixel Data</button>
    <br />
    <textarea id="pixelData" rows="20" placeholder="Pixel data will be displayed here"></textarea>
    <br />
    <button onclick="predict()">5. Predict</button>
    <br />
    <label for="predictionResult">Predicted Label</label>
    <p id="predictionResult"></p>

    <!-- New Button for ForwardPass -->

    <h4>Preview</h4>
    <button onclick="updateImage()">6. Preview</button>
    <canvas id="pixelCanvas" width="28" height="28" style="width: 140px; height: 140px;"></canvas>
    <br />
    <h4>Forward Pass</h4>
    <button onclick="forwardPass()">7. ForwardPass</button>
    <label for="forwardPassResult">Gradient</label>
    <p id="forwardPassResult"></p>
    <br />
    <h4>Calculate Gradients</h4>
    <button onclick="calculateGradients()">8. Calculate Gradients</button>
    <label for="gradientResult">Gradient</label>
    <p id="gradientResult"></p>
    <h4>Updaate Weights</h4>
    <button onclick="updateWeights()">8. Updaate Weights<</button>
    <label for="updateWeightsResult">Updaate Weights</label>
    <p id="updateWeightsResult"></p>

</div>

<script src="~/js/Mnist.js?v=1.08"></script>
<script src="~/js/GridImage.js?v=1.00"></script>



