@{
    ViewData["Title"] = "MNIST Training and Prediction";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Load the traing data</h3>
    <label for="trainDataPath">Training Data Path: 1.</label>
    <br />
    <input type="file" id="trainDataPath" placeholder="Enter path to training data" />
    <br />
    <button onclick="LoadTrainData()">2. Load Training Data</button>
</div>

<div id="trainingDataListView" class="image-list-view">
    <!-- Images will be inserted here dynamically -->
</div>

<div>
    <h3>Train the Model</h3>
    <button onclick="trainModel()">3. Train Model</button>
    <p id="trainResult"></p>
</div>
<hr />
<div>
    <h3>Make a Prediction (4)</h3>
    <div id="pixelGrid" class="pixel-grid"></div>
    <br />
    <button onclick="extractPixelData()">Extract Pixel Data</button>
    <button onclick="clearGrid()">Clear Pixel Data</button>
    <br />
    <label> Pixel Data (Comma-separated 784 values):</label>
    <br />
    <textarea id="pixelData" rows="20" placeholder="Pixel data will be displayed here"></textarea>
    <br />
    <div id="predictionResult"></div>
    <br />
    <button onclick="predict()">5. Predict</button>
    <br />
    <h4>Preview</h4>
    <canvas id="pixelCanvas" width="28" height="28" style="width: 140px; height: 140px;"></canvas>
    <br />
    <button onclick="updateImage()">6. Preview</button>
    <br />
    <h4>Forward Pass</h4>
    <br />
    <div id="forwardPassResult"></div>
    <br />
    <button onclick="forwardPass()">7. ForwardPass</button>
    <h4>Calculate Gradients</h4>
    <br />
    <textarea id="gradientResult" rows="20" placeholder="Calculate Gradients Data :"></textarea>
    <br />
    <button onclick="calculateGradients()">8. Calculate Gradients</button>
    <br />
    <h4>Update Weights</h4>    
    <br />
    <textarea id="updateWeightsResult" rows="20" placeholder="Updated Weights :"></textarea>
    <br />
    <button onclick="updateWeights()">8. Update Weights</button>

</div>

<script src="~/js/Mnist.js?v=1.09"></script>
<script src="~/js/GridImage.js?v=1.00"></script>



